nav {
  height: 100px;
  width: 100%;
  top: 0;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 100;
  position: sticky;
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.arrow i {
  color: red;
}

.round-button {
  background-color: rgba(255,0,0, 0.6);
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  position: fixed;
  bottom: 0;
  z-index: 100;
  border-radius: 60%;
  align-self: flex-end;
  font-size: 2em;
  margin: 1em;
}