.new-tweet {
  width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* background-color: rgb(228, 176, 118); */
  margin: 1em;
  padding: 1.5em;
}

#error-msg {
  width: 100%;
  border: 1px solid rgba(224, 11, 11, 0.616);
  background-color: #fce4e4;
  padding: 10px 10px;
  display: flex;
  align-self: center;
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}

.form-end {
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}

.button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  border-style: none;
  padding: 0.2em 0.5em;
}

.counter {
  font-family: 'Bungee', cursive;
  display: flex;
  align-self: flex-end;
}

#tweet-text {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 4px solid #545149; 
    padding: .25rem 0;
    resize: none;
    height: 50px;
  }

  textarea:focus {
    outline: none;
  }


.input {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 1.5rem;
}

.input-label {
    /* position: absolute; */
    top: 1.5rem;
}

.invalid {
  color: red;
}